.navbar-top {
  background-color: $background-color-topnav;
  box-shadow: none;

  .nav-wrapper {
    @media #{$medium-and-down} {
      background-color: $background-color-sidenavbar;
      position: inherit;
    }
  }

  .material-icons {
    float: right !important;
  }

  .button-collapse {
    @media #{$medium-and-down} {
      top: 35%;
    }

    .material-icons {
      color: $primary-color;
      &:hover {
        color: $color-hover;
      }
    }
  }

  .brand-logo {
    height: $navbar-height;
    padding: .5rem;
    @media #{$medium-and-down} {
      bottom: 0;
      height: initial;
      left: initial;
      transform: none;
    }

    img {
      height: 100%;

      @media (max-width: 992px) {
        width: 100%;
      }

      @media #{$large-and-up} {
        margin-left: 2rem;
      }
    }
  }

  &-desktop {
    line-height: $navbar-height;

    li {
      a {
        color: $navbar-font-color;
        text-transform: uppercase;

        &:hover {
          color: $white;
        }
      }

      &:hover {
        background-color: $primary-hover;
      }
    }
  }
}

.side-nav {
  li > a> .material-icons {
    float: right !important;
  }
}
