.top-navbar {
  
  .navbar-fixed {
    @media #{$medium-and-down} {
      height: 0;
    }
  }

  .navbar-top {
    @media #{$medium-and-down} {
      height: 0;
    }
    background-color: $background-color-topnav;
    box-shadow: none;

    .nav-wrapper {
      @media #{$medium-and-down} {
        align-items: center;
        background-color: $background-color-sidenavbar;
        display: flex;
        position: inherit;
      }
    }

    .material-icons {
      float: right !important;
    }

    .button-collapse {
      flex-direction: column;
      height: initial;
      line-height: initial;

      p {
        color: $white;
        height: initial;
        line-height: initial;
        margin-top: .3rem;
      }

      .material-icons {
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        height: initial;
        line-height: initial;
        padding: .2rem;

        &:hover {
          color: $color-hover;
        }
      }
    }

    .brand-logo {
      height: $navbar-height;
      padding: .5rem;
      @media #{$medium-and-down} {
        bottom: 0;
        height: initial;
        left: initial;
        transform: none;
      }

      img {
        height: 100%;
  
        @media (max-width: 992px) {
          width: 100%;
        }

        @media #{$large-and-up} {
          margin-left: 2rem;
        }
      }
    }

    &-desktop {
      line-height: $navbar-height;

      li {
        a {
          color: $navbar-font-color;
          text-transform: uppercase;

          &:hover {
            color: $white;
          }
        }

        &:hover {
          background-color: $primary-hover;
        }
      }
    }
  }

  .side-nav {
    li {
      width: 100%;

      & > a> .material-icons {
        float: right !important;
      }
    }
  }
}
