.top-navbar {
  
  .navbar-fixed {
    height: 0;
  }

  .navbar-top {
    background-color: $background-color-topnav;
    box-shadow: none;
    height: 0;

    .nav-wrapper {
      align-items: center;
      background-color: $background-color-sidenavbar;
      display: flex;
      position: inherit;
    }

    .button-collapse {
      display: block !important;
      flex-direction: column;
      height: initial;
      line-height: initial;
      margin: 0 5px;

      p {
        color: $white;
        height: initial;
        line-height: initial;
        margin-top: .3rem;
      }

      .material-icons {
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        height: 40px;
        line-height: 32px;
        padding: .2rem;
        text-align: center;
        width: 40px;

        &:hover {
          border-color: $primary-hover;
          color: $primary-hover;
        }
      }
    }

    .brand-logo,
    .brand-logo-top {
      bottom: 0;
      height: initial;
      left: initial;
      padding: 5px;
      transform: none;

      img {
        width: 100%;
      }
    }

    .brand-logo-top {
      padding-top: 5px;
      position: absolute;
      top: 0;
    }

    &-desktop {
      line-height: $navbar-height;

      li {
        a {
          color: $navbar-font-color;
          text-transform: uppercase;

          &:hover {
            color: $white;
          }
        }

        &:hover {
          background-color: $primary-hover;
        }
      }
    }
  }

  .side-nav {
    li {
      width: 100%;

      & > a> .material-icons {
        float: right !important;
      }
    }
  }
}
