@font-face {
  font-family: 'Football Font';
  src: url('../fonts/football2018/Dusha-FIFA-World-Cup-2018.ttf');
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Football Font';
  font-size: 16px;
}

h1 {
  margin: 0;
}

.row {
  margin: 0 !important;
}

.padding-zero {
  padding: 0 !important;
}

.picture-content {
  img {
      width: 100%;
  }
}

a {
  color: $color-fonts;

  &:visited,
  &:active {
    color: $color-fonts;
  }

  &:hover {
    color: $white;
  }
}

.activado {
  background-color: $primary-color;

  a {
    color: $white !important;
  }
}

.hide {
  display: none;
}

.text {
  @include transition-all(.3s);
  @include respond-to(xs) {
    top: 25%;
  }
  @include respond-to(lg) {
    top: 60px;
  }
  box-sizing: border-box;
  color: $white;
  height: 150px;
  padding: 0 2rem;
  padding-left: 20rem;
  position: absolute;
  top: 25%;
  vertical-align: middle;
  width: 600px;
}

.blue-grey.lighten-5 {
  background-color: $background-color-container !important;
}

.show-extra-large-and-up {
  display: none;
  @media #{$extra-large-and-up} {
    display: block;
  }
}
.hide-extra-large-and-up {
  display: block;
  @media #{$extra-large-and-up} {
    display: none;
  }
}
