#seccion-view-user {
  @media (max-width: 600px) {
    background-size: 50%;
  }
  @media (min-width: 992px) {
    min-height: 700px;
  }
  background-image: url('../images/bg-usuario-logo-bottom.png');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 30%;
  min-height: 600px;
}

.view-user {
  &-header {

    &-container {
      background-color: $background-color-usuario-topnav;
      border-radius: 0 0 10px 10px;
      flex-flow: row wrap;
      padding: .5rem;
    }

    img {
      @media (max-width: 600px) {
        width: 50%;
      }
      width: 100%;
    }

    p {
      color: $white;
      font-size: 1.3rem;
    }
  }

  &-contenido {
    margin-top: 1rem !important;

    &-header {

      img {
        @media (max-width: 600px) {
          width: 30%;
        }
        width: 100%;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        @media (max-width: 600px) {
          font-size: 1.2rem;
        }
        color: $color-primary;
        font-size: 1.5rem;

        span {
          color: $black;
        }
      }

      p {
        @media (max-width: 600px) {
          font-size: .9rem;
        }
      }
    }
  }

  &-aside {
    &-logo {
      img {
        @media (max-width: 600px) {
          width: 50%;
        }
        width: 100%;
      }
    }

    &-time {
      img {
        width: 11%;
      }

      span {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    &-selection {
      margin-top: 1rem;

      p {
        font-size: 1rem;
      }

      .input-field {
        margin-top: .5rem;

        .select-wrapper {
          background-color: $color-primary;
          border-radius: 5px;
          color: $white;
          padding-left: 1rem;

          .caret {
            color: $white;
            right: 10px;
          }

          input {
            &.select-dropdown {
              border-bottom: 0;
              height: 1.5rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
