#seccion-view-user {
  background-image: url('../images/bg-usuario-logo-bottom.png');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 30%;
  min-height: 340px;
}

.view-user {
  &-header {

    &-container {
      background-color: $background-color-usuario-topnav;
      border-radius: 0 0 10px 10px;
      flex-flow: row wrap;
      padding: .5rem;
    }

    img {
      @media (max-width: 600px) {
        width: 50%;
      }
      width: 100%;
    }

    p {
      color: $white;
    }
  }

  &-contenido {
    margin-top: 1rem !important;

    &-header {

      img {
        width: 100%;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        color: $color-primary;
        font-size: 1.2rem;

        span {
          color: $black;
        }
      }

      p {
        font-size: .9rem;
      }
    }
  }

  &-bg-logo {
    img {
      @media #{$medium-and-down} {
        width: 30%;
      }
      bottom: 0;
      position: absolute;
      right: 0;
      width: 20%;
    }
  }
}
