.view-login {
  min-height: 348px;

  
  &-row {
    @media #{$medium-and-down} {
      min-height: 348px;
    }
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 480px;
  }

  &-logo,
  &-form {
    margin: 0 !important;
  }

  &-form {
    @media #{$small-and-down} {
      order: 2;
    }
    @media #{$medium-and-up} {
      padding: 2rem !important;
    }

    &-container {
      background-color: $background-color-transparent;
      border-radius: 20px;
      padding: 2rem 0;
    }

    &-logo {
      img {
        width: 50%;
      }
    }

    &-text {
      p {
        color: $white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    }

    .input-field {
      input {
        color: $white;
        margin: 0;
      }

      label {
        margin-left: 1.5rem !important;
      }

      button {
        width: 90%;
      }
    }

    &-links {
      @media #{$small-and-down} {
        margin-bottom: .5rem;
        margin-top: .5rem;
      }
      margin-top: 1rem;
    }
  }

  &-logo {
    @media #{$small-and-down} {
      order: 1;
    }

    img {
      @media #{$medium-and-down} {
        width: 100%;
      }
      width: 70%;
    }
  }
}
