.view-login {
  min-height: 348px;

  
  &-row {
    @media #{$medium-and-down} {
      min-height: 348px;
    }
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 600px;
  }

  &-logo,
  &-form {
    margin: 0 !important;
  }

  &-form {
    @media #{$small-and-down} {
      order: 2;
    }
  }

  &-logo {
    @media #{$small-and-down} {
      order: 1;
    }

    img {
      width: 100%;
    }
  }
}
